.note {
    position: absolute;
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 8px black;
    word-wrap: break-word;
    animation-name: showNote;
    animation-duration: 0.5s;

    h2 {
        text-align: center;
        margin-top: 20px;
    }

    p {
        margin: 20px 10px;
        font-weight: 500;
    }
}

.dropNote {
    position: absolute;
    display: block;
    right: 15px;
    border: none;
    cursor: pointer;

    &::before, &::after {
        position: absolute;
        display: block;
        width: 5px;
        height: 25px;
        background-color: darkslategray;
        border-radius: 25%;
        content: '';
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }

    
}

@keyframes showNote {
    from {
        opacity: 0.1;
        transform: translateY(25px);

    }
    to {
        opacity: 1.0; 
    }
}