.wrapper {
    width: 100%;
    height: 1000px;
    background-color: white;
}


.p {
    font-size: 20pt;
    text-align: center;
    padding-top: 100px;
    font-weight: 700;
    color: lightgray;
    user-select: none;
    animation: showParagraph;
    animation-duration: 1s;

}

@keyframes showParagraph {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1.0;
    }
}